seed: 42
experiment_name: "med_pred_experiment"

mlflow:
  storage_dir: "../ML_DATA"

data:
  seq_len: 50
  input_dim: 20
  batch_size: 64
  num_samples: 10000

model:
  hidden_dim: 128
  num_layers: 2
  dropout: 0.1
  num_classes: 2
  lr: 0.001

training:
  max_epochs: 10
  patience: 3